.topo{
	width: 100%;
	float: left;
	position: fixed;
	top: 30px;
	font-style: italic;
	color: #ffffff;
	left: 0; 
	z-index: 1;
	background-color: transparent;
	height: 6%;
}


.topo-direita{
	height: 100%;
	width: 70%;
  position: relative;
  float: right;
  text-align: right;
  margin-right: 3%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
}

.topo-esquerda{
  padding: 20px;
  height: 100%;
  width: 50%;
  position: absolute;
  float: left;
  background-color: transparent;
}

.espaco{
  margin-right: 10px;
}